Repository Ouranosinc/raven, pull requests merged in 2018-11, with the labels that each got.

#49 Travis CI
  .travis.yml
  environment.yml
  requirements.txt
Labels: enhancement

#51 Implement make install within Travis CI
  .travis.yml
  Makefile
  environment.yml
  raven/models/basic.py
  raven/processes/wps_inout.py
  raven/processes/wps_raven_gr4j_cemaneige.py
  requirements.txt
  requirements_dev.txt
  tests/common.py
  tests/test_wps_caps.py
  tests/test_wps_gr4j_cemaneige.py
  tests/test_wps_raven_gr4j_cemaneige.py
  tests/test_wps_raven_hmets.py
  tests/test_wps_sleep.py
Labels: Ouranos, enhancement

#55 Pep8 fixes
  raven/models/basic.py
  raven/models/cema_neige.py
  raven/models/gr4j_cemaneige.py
  raven/models/hbv.py
  raven/models/simhyd_cemaneige.py
  raven/processes/ravenio.py
  raven/processes/wps_gr4j_cemaneige.py
  tests/test_wps_caps.py
  tests/test_wps_gr4j_cemaneige.py
Labels: enhancement

#56 Travis tweak
  .travis.yml
Labels: Ouranos
